<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sym-Mis</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
              


    <i class="far fa-eye"
        id="togglePassword"></i>
    
    <div class="full-page">
        <div class="sub-page">
            

            <div class="row">
                <i class="far fa-eye"
              id="togglePassword"></i>
                <div class="col-1">
                    
                                    
                    <form class="form-box" method="post" action="/">
                        <div class="form" >

                            <center><div  class="login-box">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPMP31Ng4eZ4XNdGdHQqTqrTPjCQJQRI7eVw&usqp=CAU" class="formlogo">
                </div></center>
                        <center><h1 class="main-heading">SIGN-IN </h1>
                        <h2 class="head">Welcome to Mobile Repair System</h2></center>
                                <p>Email/username</p>
				                <input type="text"placeholder="username" name="username" autofocus="autofocus"/>
                                <p>Password</p>
				                <input type="password"placeholder="password" name="password" autofocus="autofocus"/>
				                <button>Sign In</button>
				                <p class="message">Dont have an account? <a href="#">contact portal administor</a></p>
				            </form>
                            <form class="register-form">
                                <center><h1 class="main-heading">Register Form</h1></center>
				                <input type="text" placeholder="username"name="username" />
				                <input type="text" placeholder="email-id"  />
				                <input type="password" placeholder="password"/>
                                <i class="far fa-eye" id="togglePassword" style="margin-ledt:-30px;cursor:pointer;"></i>
				                <button>REGISTER</button>
				                <p class="message">Already Registered?<a href="#">Sign in</a>
				                </p>
				            </form>
			             </div>
	                </div>
                </div>